

body{
    min-height:100vh;
    background-image: url('/coarse-bg.jpg');
}

.memo-container{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width:100%;
    padding:10px;
}

.memo{
    width: 180px;
    height:180px;
    margin:5px 10px 5px 10px;
    padding:10px;
    box-shadow:10px 5px 5px black;
    position:relative;
}

.input-memo{
    max-width:100%;
}

.memo .icon{
    width:40px;
    height:40px;
    background-color: white;
    border-radius: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.memo .bottom-right{
    position:absolute;
    bottom:-10px;
    right:-10px;
} 

.memo .top-right{
    position:absolute;
    top:-10px;
    right:-10px;
} 

.memo:nth-child(3n+1){
    background-color: #F5E37B;
}
.memo:nth-child(3n+2){
    background-color: pink;
}
.memo:nth-child(3n){
    background-color: lightblue;
}

.admin-panel{
    background-color: darkred;
    padding:5px;
    text-align: center;
}

.heading{
    color:white;
}
