
body{
    background-color: #FCCC00;
}

#header{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.icons-bar{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
}
.icon-bubble{
    background-color: #353535;
    color: #FCCC00;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
}
.icon-bubble:hover{
    background-color: #161616;
}

#my-navbar{
    font-size: 12px;
    padding: 0px;
}

#nav-item{
    margin: 10px 10px 10px 10px !important;
}

.nav-item:hover, #nav-item-homepage{
    transition: background-color 0.2s;
    background-color: #353535;
    color: #fff!important;
    box-shadow: inset 0 0 15px #000;
}

.nav-item:hover .nav-link,#nav-item-homepage .nav-link{
    color: #fff!important;
}

#nav-item-homepage{
    background-color: #353535;
    color: #fff!important;
    box-shadow: inset 0 0 15px #000;
}

.relativeHolder{
    position:relative;
}

.carousel-text-overlay{
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    display:flex;
    justify-content: center;
    align-items: center;
}
   
.title-text-dialog{
    
    background-color: #353535;
    opacity: 0.85;
    height: 150px;
    width: 40%;
    color:#fff;
    font-size: 20px;
    padding: 25px 15px 25px 15px;
}

.title-text-box{
    border-top: #fff 3px solid;
    border-bottom: #fff 3px solid;
    height: 100%;
}

.title-text{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    height:60%;
    border-bottom: 1px solid gray;
}

.read-more{
    margin-top:5px;
    font-size: 14px;
    text-align: center;
}