.box{
    width:95px;
    height:95px;
    border:rgb(163,176,194) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: #DAE8FC;
}
.board{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width: 300px;
    height: 300px;
}

.board-container{
    display:flex;
    justify-content:center;
    align-items:center;
}