.box {
    width:29%;
    height:32%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 40px;

}
.box-char{
    width: 45px;
    height: 45px;
    text-align: center;

}

.box-cross{
    color:#555555
}

.box-circle{
    color: #F2EAD2;

}
.box-top-border{
    border-top:#30A091 solid 4px;
}
.box-right-border{
    border-right: #30A091 solid 4px;
}
.box-bottom-border{
    border-bottom: #30A091 solid 4px;
}

.box-left-border{
    border-left: #30A091 solid 4px;
}

.board{
    display:flex;
    flex-wrap:wrap;
    width: 300px;
    height: 300px;
}

.board-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3ABCAB;
    padding: 20px
}

body{
    margin: 0px;
    font-family: arial, sans-serif;
}

#restart-game {
    text-align: center;
    color: #3ABCAB;
    border-radius: 0px 0px 25px 25px;
    border: 1px solid lightgray;
}