body{
    background-color:pink;
}
.box{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    margin-left: 10px;
    margin-right: 10px;

}

.icon-bin-container{
   
    display:flex;
   position:relative;
    justify-content: flex-end;
    flex-direction: column;
    align-content: space-evenly;
    
}

.icon-pen-container{
   
    display:flex;
   position:relative;
    justify-content: flex-end;
    flex-direction: column;
    align-content: space-between;
  
}

.icon-bubble{
    background-color:white;
    padding:15px;
    color:black!important;
    height: 28px;
    width: 28px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 50px 50px;
}


#cards{
    margin-top: 50px;
}
