@charset "UTF-8";

#my-navbar{
    font-size: 12px;
    padding:0px;
}

.nav-item{
    padding: 10px 10px 10px 10px !important;
}

.nav-item:hover,#nav-item-Tags{
    transition: background-color 0.2s;
    background-color: #353535;
    color: #fff!important;
    box-shadow: inset 0 0 15px #000;
}


.nav-item:hover .nav-link,#nav-item-Tags .nav-link{
    color: #fff!important;
