body{
    background-color: rgb(0, 252, 231);
}

#header{
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.relative-holder{
  position: relative;
}

.jumbotron-text-overlay{
    position: absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    display:flex;
    justify-content: center;
    align-items: flex-start;
}
 


.title-text-dialog{
    position: absolute;
    background-color: rgb(0, 252, 231);
    opacity: 0.7;
    height: 150px;
    width: 30%;
    color:#0294BA;
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
    padding: 40px 25px 25px 15px;
}

.title-text{
  position: absolute;
    font-size: 25px;
    text-align: center;
    height:60%;
    
}

#my-carousel-indicators{
    position:relative;
    top:10px;
}

#my-carousel-indicators > li{
    border-radius: 100px;
    border:0px;
    width:15px;
    height:15px;
}

.carousel-image{
  /* only to demonstrate why fixed width and height is not good*/
  /* height: 600px;
  width: 1200px; */
}


#my-carousel-indicators > li.active{
    background-color: #0294BA;
}

#other-topics{
    margin-top: 5px;
    color:#0294BA;
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
  
}

h6,p{
    font-size:100%;
    font-weight:normal;
  }
  
  .memo{
    overflow:hidden;
    padding:1em;
  }
 
  .memo li{
    margin:1em;
    float:right;
  }

  .memo li h6{
    font-size:50%;
    font-weight:bold;
    padding-bottom:1px;
  }
  .memo li p{
    font-family: 'Inconsolata', monospace;
    font-size:50%;
  }
  .memo li a{
    text-decoration:none;
    color:#0294BA;
    background:#ffc;
    display:block;
    height:5em;
    width:5em;
    padding:1em;
    /* Firefox */
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  }
  .memo li a{
    /* -webkit-transform:rotate(-6deg);
    -o-transform:rotate(-6deg);
    -moz-transform:rotate(-6deg); */
    transform: rotate(-6deg);
  }
  

  .memo li:nth-child(even) a{
    /* -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg); */
    transform: rotate(4deg);
    position:relative;
    top:5px;
  }
  .memo li:nth-child(3n) a{
    /* -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg); */
    transform: rotate(-3deg);
    position:relative;
    top:-5px;
  }
  .memo li:nth-child(5n) a{
    /* -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg); */
    transform: rotate(5deg);
    position:relative;
    top:-10px;
  }

  .memo li a:hover,.memo li a:focus{
    /* -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7); */
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    /* -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25); */
    transform: scale(1.25);
    position:relative;
    z-index:5;
  }
  .memo li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transition: .15s linear;
    /* -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear; */
  }

  .memo li:nth-child(even) a{
    /* -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg); */
    transform: rotate(4deg);
    position:relative;
    top:5px;
    background:#cfc;
  }
  .memo li:nth-child(3n) a{
    /* -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg); */
    transform: rotate(-3deg);
    position:relative;
    top:-5px;
    background:#ccf;
  }



